<?xml version="1.0" encoding="UTF-8" ?>
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,233},{15,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,12}}</string>
                <key>sourceSize</key>
                <string>{15,12}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,220},{15,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,12}}</string>
                <key>sourceSize</key>
                <string>{15,12}</string>
            </dict>
            <key>pop2.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,167},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{4,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{60,52}</string>
            </dict>
            <key>help.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,114},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{4,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{60,52}</string>
            </dict>
            <key>pop1.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,61},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{4,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{60,52}</string>
            </dict>
            <key>02.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,0},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>03.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,462},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>04.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,462},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>01.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,462},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,462},{460,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{460,59}}</string>
                <key>sourceSize</key>
                <string>{460,60}</string>
            </dict>
            <key>bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,381},{640,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{640,80}}</string>
                <key>sourceSize</key>
                <string>{640,80}</string>
            </dict>
            <key>bottom_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{640,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{640,380}}</string>
                <key>sourceSize</key>
                <string>{640,380}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <string>2</string>
            <key>realTextureFileName</key>
            <string>dialog_all.png</string>
            <key>size</key>
            <string>{701,522}</string>
            <key>smartupdate</key>
            <string>BindImage2.4</string>
            <key>textureFileName</key>
            <string>dialog_all.png</string>
        </dict>
    </dict>
</plist>
