<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ditiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{640,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,80}}</string>
                <key>sourceSize</key>
                <string>{640,80}</string>
            </dict>
            <key>faxian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,282},{56,64}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{56,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>faxian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,216},{56,64}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{56,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>headcell.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,480},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>headcell_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>hengtiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,130}}</string>
                <key>sourceSize</key>
                <string>{640,130}</string>
            </dict>
            <key>hongdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,557},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>hongdianxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,436},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>infocell.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{510,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,130}}</string>
                <key>sourceSize</key>
                <string>{510,130}</string>
            </dict>
            <key>infocell_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{510,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,130}}</string>
                <key>sourceSize</key>
                <string>{510,130}</string>
            </dict>
            <key>miyou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,348},{52,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>miyou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,328},{52,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>shangchu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,524},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>shangchu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,520},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>shezhi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,416},{52,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{52,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>shezhi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,382},{52,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{52,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>shuxiangchangtiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,436},{200,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,40}}</string>
                <key>sourceSize</key>
                <string>{200,40}</string>
            </dict>
            <key>xinxi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,272},{54,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{54,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>xinxi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,216},{54,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{54,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>youjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,482},{40,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{40,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zhuanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,482},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>message_all.png</string>
            <key>size</key>
            <string>{644,644}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9b624c9e82ea85199436d9f57b3a0a9:1/1$</string>
            <key>textureFileName</key>
            <string>message_all.png</string>
        </dict>
    </dict>
</plist>
